* {
  box-sizing: border-box; /* border and padding are included in widths and heights specified. */
  margin: 0; /* this takes the margin off everything.*/
  padding: 0; /* this takes the padding off everything.*/
}

html,
body {
  overflow-x: hidden; /* this was not covered in the course. It prevents an unwanted white margin that increases the smaller the screen size gets. */
}

html {
  font-size: 62.5%; /* This defines 1rem. This is 10/16 or .625* - Thus, 1rem = 10px. This defines the font-size of our entire layout.*/
  /* in ClockDoc-CortlandNE this font size will not work. In clockdoc-Richard this font size does indeed work. */

  @include respondDesktop(at1000) {
    /* width <= 1000px? */
    font-size: 56.25%; /*  1rem = 9px, 9/16 = 56.25% */
  }

  @include respondDesktop(atMedium) {
    /* width <= 767px? */
    font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
  }

  @include respondDesktop(atSmall) {
    /* width <= 530px? */
    font-size: 37.5%; /* 1rem = 6px, 6/16 = 37.5% */
  }

  @include respondDesktop(at400) {
    /* width <= 530px? */
    font-size: 31.25%; /* 1rem = 5px, 5/16 = 31.25% */
  }

  @include respondDesktop(atSmaller) {
    /* width <= 355px? */
    font-size: 25%; /* 1rem = 4px, 4/16 = 25% */
  }

  @include respondDesktop(atLargest) {
    /* width >= 1860px? */
    font-size: 62.5%; /* 1rem = 10px, 10/16 = 62.5%*/
  }
}

body {
  /* except I like Roboto font better. 50 JS projects used Open Sans font.*/
  font-family: "Roboto", sans-serif;
  color: #222;
  padding-bottom: 1em;
  background-color: beige; /* $beige: #faf0ca; is worth considering */
  font-size: 1em; /* In clockdoc-Richard this line of code needs to be asterisked out. */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1em;
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.1em;
  text-align: left;

  @include respondDesktop(atLarge) {
    font-size: 3em;
  } /* screen size <= 1200px*/

  @include respondDesktop(atMedium) {
    font-size: 2.5em;
  } /* screen size <= 1200px*/

  @include respondDesktop(atSmall) {
    font-size: 3em;
  } /* screen size <= 530px*/
}

h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}

@include respondDesktop(atSmall) {
  h1 {
    font-size: 6.25em;
  }
  h2 {
    font-size: 5em;
  }
  h3 {
    font-size: 3.125em;
  }
  h4 {
    font-size: 2.4em;
  }
  h5 {
    font-size: 1.9em;
  }
  h6 {
    font-size: 1.15em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input {
  height: 4rem; /* This needs to be 4rem not 4em; otherwise, the fields on the Contact Us page will be too big.*/
}

textarea {
  /* used on contact us form. */
  height: 8rem; /* This needs to be 8rem not 8em; otherwise, the textarea on the Contact Us page will be too big.*/
}

a {
  color: $mainBlue;
  z-index: 10;
}

a:hover {
  text-decoration: none;
}

blockquote,
blockquote p {
  font-size: 2.4em;
  font-style: italic;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

li {
  font-size: 1.875rem; /* use rem not em here; otherwise, the font will be too big on the inner list within the outer list on the Conditions of Use page. */
  line-height: 1.5em;
  text-align: left;

  @include respondDesktop(atLarge) {
    font-size: 2.3em; /* needed so fonts on About Us are big enough on the ipadpro. */
  } /* screen size <= 1200px */

  @include respondDesktop(atMedium) {
    line-height: 1.5em;
    font-size: 1.875em;
  } /* screen size <= 767px*/

  @include respondDesktop(atSmall) {
    font-size: 3em;
  }

  @include respondDesktop(at400) {
    font-size: 2.5em;
  }

  @include respondDesktop(at371) {
    font-size: 2.25em;
  }
  @include respondDesktop(atSmaller) {
    font-size: 3em;
  }
}

p {
  font-size: 2rem; /* This needs to be 2rem, not 2em, so the font isn't so big on the archive-clocks page. */
  line-height: 1.65em;

  @include respondDesktop(atLarge) {
    font-size: 3rem; /* needed so fonts on About Us are big enough on the ipadpro. */
  } /* screen size <= 1200px*/

  @include respondDesktop(atMedium) {
    font-size: 2rem;
  } /* screen size <= 767px*/

  @include respondDesktop(atSmall) {
    font-size: 3rem;
  }

  @include respondDesktop(at400) {
    font-size: 2.5rem;
  }

  @include respondDesktop(at371) {
    font-size: 2.25rem;
  }
  @include respondDesktop(atSmaller) {
    font-size: 3rem;
  }
}

@media (min-width: 800px) {
  /* any width > 800 will have brown. */
  h1 {
    color: brown;
  }
}

@media (max-width: 800px) {
  /* any width < 800 will have magenta */
  h1 {
    color: magenta;
  }
}
