* {
  box-sizing: border-box; /* border and padding are included in widths and heights specified. */
  margin: 0; /* this takes the margin off everything.*/
  padding: 0; /* this takes the padding off everything.*/
}

html,
body {
  overflow-x: hidden; /* this was not covered in the course. It prevents an unwanted white margin that increases the smaller the screen size gets. */
}

html {
  font-size: 62.5%; /* This defines 1rem. This is 10/16 or .625* - Thus, 1rem = 10px. This defines the font-size of our entire layout.*/
  /* in ClockDoc-CortlandNE this font size will not work. In clockdoc-Richard this font size does indeed work. */

  @include respondDesktop(at1000) {
    /* width <= 1000px? */
    font-size: 56.25%; /*  1rem = 9px, 9/16 = 56.25% */
  }

  @include respondDesktop(atMedium) {
    /* width <= 767px? */
    font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
  }

  @include respondDesktop(atSmall) {
    /* width <= 530px? */
    font-size: 37.5%; /* 1rem = 6px, 6/16 = 37.5% */
  }

  @include respondDesktop(at400) {
    /* width <= 530px? */
    font-size: 31.25%; /* 1rem = 5px, 5/16 = 31.25% */
  }

  @include respondDesktop(atSmaller) {
    /* width <= 355px? */
    font-size: 25%; /* 1rem = 4px, 4/16 = 25% */
  }

  @include respondDesktop(atLargest) {
    /* width >= 1860px? */
    font-size: 62.5%; /* 1rem = 10px, 10/16 = 62.5%*/
  }
}

body {
  /* except I like Roboto font better. 50 JS projects used Open Sans font.*/
  font-family: "Roboto", sans-serif;
  color: #222;
  padding-bottom: 1rem;
  background-color: beige;
  /*font-size: 1.6rem; */ /* In clockdoc-Richard this line of code needs to be asterisked out. */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  margin: 10rem 20rem;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  height: 4rem;
}

textarea {
  /* used on contact us form. */
  height: 8rem;
}

a {
  color: $mainBlue;
  z-index: 10;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

li {
  line-height: 2rem;
  font-size: 1.5rem;
}

p {
  line-height: 1.65em;
}

@media (min-width: 800px) {
  /* any width > 800 will have brown. */
  h1 {
    color: brown;
  }
}

@media (max-width: 800px) {
  /* any width < 800 will have magenta */
  h1 {
    color: magenta;
  }
}
