/* This is from clockdoc-richard website. */
.contactInfo__bkgd {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 50vh;
  width: 100vw;
}

.contactInfo-color {
  background-size: cover;
  /* I tried coding the linear-gradient in the contactInfo_bkgd class, but didn't get the desired results. This was the only way to get the desired results. */
  background-image: linear-gradient(
    rgba(141, 43, 37, 0.7),
    rgba(141, 43, 37, 0.7)
  );
  height: 50vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
}

.contactInfo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: antiquewhite;
  padding: 2rem 0 3.5rem 0;
  margin-top: 9rem;

  @include respondDesktop(atMedium) {
    margin-top: 0.125rem;
  } /* screen sizes <= 767px */

  @include respondDesktop(atSmall) {
    margin-top: 5rem;
  } /* screen sizes <= 767px */

  a {
    color: antiquewhite;
    text-decoration: none;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 0.1em;
    margin-top: 1rem;

    @include respondDesktop(atLarge) {
      font-size: 2.25em;
      line-height: 0.15em;
    } /* screen size <= 1200px*/

    @include respondDesktop(atMediumLarge) {
      font-size: 1.75em;
    } /* screen size <= 800px*/

    @include respondDesktop(atMedium) {
      font-size: 1.5em;
      line-height: 0.125em;
    } /* screen size <= 767px*/

    @include respondDesktop(atMediumSmall) {
      font-size: 1.75rem;
    }

    @include respondDesktop(atSmall) {
      font-size: 2.25rem;
    }
  }

  &__business-hours {
    padding: 1rem;
    width: 40%;
    float: left;

    @include respondDesktop(atMediumLarge) {
      width: 35%;
    } /* screen size <= 800px*/

    @include respondDesktop(atMediumSmall) {
      display: inline-block;
      width: 50%;
      padding-left: 5rem;
    } /* screen sizes <= 616px */

    @include respondDesktop(atSmall) {
      width: 55%;
    }
  }

  &__name-addr-csz {
    padding: 1rem;
    width: 40%;
    float: left;

    @include respondDesktop(atMediumLarge) {
      width: 35%;
    } /* screen size <= 800px*/

    @include respondDesktop(atMediumSmall) {
      display: block;
      width: 40%;
    } /* screen sizes <= 616px */

    @include respondDesktop(atSmall) {
      display: block;
      width: 45%;
    } /* screen sizes <= 530px */
  }

  &__iframe {
    padding: 1rem;
    width: 20%;
    float: right;

    @include respondDesktop(atMediumLarge) {
      width: 30%;
    } /* screen size <= 800px*/

    @include respondDesktop(atMediumSmall) {
      width: 40%;
      margin: 0 auto;
      float: left;
      padding: 0 2rem 0 6rem;
    } /* screen sizes <= 616px */
  }

  .headline {
    color: #666;
    margin-bottom: 0.33rem;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  &_inner {
    border-top: 1px dotted #dedede;
    padding-top: 3.5rem;
  }
}
