/* This is from clockdoc-richard website. */
.contactInfo__bkgd {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 50vh;
  width: 100vw;

  @include respondDesktop(atMedium) {
    height: 105vh;
  }
  @include respondDesktop(atMediumSmall) {
    height: 75vh;
  }

  @include respondDesktop(at400) {
    height: 70vh;
  }
  @include respondDesktop(at371) {
    height: 80vh;
  }
  @include respondDesktop(atSmaller) {
    height: 90vh;
  }
  @include respondDesktop(atSmallest) {
    height: 130vh;
  }

  &--color {
    background-size: cover;
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(
      rgba(141, 43, 37, 0.7),
      rgba(141, 43, 37, 0.7)
    );
    position: absolute;

    @include respondDesktop(atMedium) {
      height: 105vh;
    }
    @include respondDesktop(atMediumSmall) {
      height: 75vh;
    }

    @include respondDesktop(at400) {
      height: 70vh;
    }
    @include respondDesktop(at371) {
      height: 80vh;
    }
    @include respondDesktop(atSmaller) {
      height: 90vh;
    }
    @include respondDesktop(atSmallest) {
      height: 130vh;
    }
  }
}

.contactInfo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: antiquewhite;
  padding: 2rem 0 3.5rem 0;
  margin-top: 9rem;
  font-size: 1em;
  height: 100%;
  width: 100%;

  @include respondDesktop(atMediumLarge) {
    padding-left: 3rem;
  }

  @include respondDesktop(atMedium) {
    margin-top: 0.125rem;
  } /* screen sizes <= 767px */

  @include respondDesktop(atSmall) {
    margin-top: 2.5rem;
  } /* screen sizes <= 530px */

  @include respondDesktop(atSmaller) {
    padding-left: 3.5rem;
  } /* screen sizes <= 320px */

  @include respondDesktop(atSmallest) {
    padding-left: 1rem;
  } /* screen sizes <= 240px */

  a {
    color: antiquewhite;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 1em;
    @include respondDesktop(atSmaller) {
      font-size: 3.5em;
    }
  }

  p {
    line-height: 0.1em;
    font-size: 1.6em;

    @include respondDesktop(atLarge) {
      font-size: 2.5em; /* needed so fonts on About Us are big enough on the ipadpro. */
    } /* screen size <= 1200px*/

    @include respondDesktop(atMedium) {
      font-size: 2em;
    } /* screen size <= 767px*/

    @include respondDesktop(atSmall) {
      font-size: 2.5em;
    }

    @include respondDesktop(atSmaller) {
      font-size: 3em;
    }
  }

  &__business-hours {
    padding: 1em;
    width: 35%;
    float: left;

    @include respondDesktop(atLarge) {
      width: 50%;
    }

    @include respondDesktop(atMediumSmall) {
      width: 100%;
      padding-left: 10em;
    } /* screen sizes <= 616px */
  }

  &__name-addr-csz {
    padding: 1em;
    width: 35%;
    float: left;

    @include respondDesktop(atLarge) {
      width: 50%;
    }

    @include respondDesktop(atMediumSmall) {
      width: 100%;
      padding-left: 10em;
    } /* screen sizes <= 616px */
  }

  &__iframe {
    padding: 1em;
    width: 30%;
    float: left;

    @include respondDesktop(atMediumSmall) {
      width: 40%;
      margin: 0 auto;
      padding-left: 10em;
    } /* screen sizes <= 616px */
  }

  .headline {
    color: #666;
    margin-bottom: 0.33rem;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  &_inner {
    border-top: 1px dotted #dedede;
    padding-top: 3.5rem;
  }
}
