/* This is from clockdoc-richard website. */
.contactInfo__bkgd {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 50vh;
  width: 100vw;
}

.contactInfo-color {
  background-size: cover;
  /* I tried coding the linear-gradient in the contactInfo_bkgd class, but didn't get the desired results. This was the only way to get the desired results. */
  background-image: linear-gradient(
    rgba(141, 43, 37, 0.7),
    rgba(141, 43, 37, 0.7)
  );
  height: 50vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
}

.contactInfo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: antiquewhite;
  padding: 2rem 0 3.5rem 0;

  a {
    color: antiquewhite;
    text-decoration: none;
  }

  h2 {
    font-size: 2.4rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

    @media (min-width: 530px) {
      margin-right: 2rem;
    }
  }
  p {
    font-size: 1.5rem;
    line-height: 0.1em;
    margin-top: 1rem;

    /*@media (min-width: 15em) {
          font-size: 1.5rem;
        }*/ /* 240px/16 = 15em */
  }

  &__business-hours {
    padding: 1rem;
    width: 40%;
    float: left;
  }

  &__name-addr-csz {
    padding: 1rem;
    width: 40%;
    float: left;
  }

  &__iframe {
    padding: 1rem;
    width: 20%;
    float: right;
  }

  /*@media (min-width: 1000px) {
        margin-top: 1rem;
      }*/

  @include respondDesktop(atLarge) {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 35rem);
    justify-items: center;
  } /* screen size <= 1200px*/

  iframe {
    @media (min-width: 1000px) {
      margin-top: 1rem;
    }
  }

  .headline {
    color: #666;
    margin-bottom: 0.33rem;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  &_inner {
    border-top: 1px dotted #dedede;
    padding-top: 3.5rem;
  }
}
