.full-width-split {
  display: flex;
  /*@mixin atMediumLarge {
    display: flex;
  }*/

  &__one {
    flex: 1;
    z-index: -1;
    /*padding: 1.6rem 1rem; */
    /*@mixin atMediumLarge {*/
    /* padding: 40px; */
    /*}*/

    .full-width-split__inner {
      float: right;
      /*@mixin atMediumLarge {
        float: right;
      }*/
    }
  }

  &__two {
    flex: 1;
    z-index: -1;
    background-color: $beige;
    /*padding: 1.6rem 1rem; */
    /*@mixin atMediumLarge {*/
    /* padding: 40px; */
    /*}*/
  }

  &__inner {
    @media (min-width: 135rem) {
      width: 61rem;
    }
  }
}
