.headline {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;

  &--large {
    font-size: 3.6em;
    @include respondDesktop(atSmall) {
      font-size: 6.25em;
    }
  }

  &--large-medium {
    font-size: 5em;
    margin: 0 0 1em 0;
  }

  &--medium {
    font-size: 1.9em;
    margin-bottom: 0.75em;
    @include respondDesktop(atLarge) {
      font-size: 3.1em;
    }
    @include respondDesktop(atSmall) {
      font-size: 3.5em;
    }
    @include respondDesktop(atSmaller) {
      font-size: 4.5em;
    }
  }

  &--small-plus {
    font-family: "Roboto", sans-serif;
    font-size: 1.6875em;
    font-weight: 400;
    margin-bottom: 1.9em;
  }

  &--small {
    font-size: 1.2em;
    margin-bottom: 1.9em;
    @include respondDesktop(atSmall) {
      font-size: 1.6875em;
    }
  }

  &--smaller {
    font-size: 1.5em;
  }

  &--tiny {
    font-family: "Roboto", sans-serif;
    font-size: 1.3875em;
    margin-bottom: 0.25em;
  }

  &--post-title a {
    color: $mainBlue;
    text-decoration: none;
  }

  &--post-title a:hover {
    text-decoration: underline;
  }
}
