.page-banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  /* z-index: -2;  This line of code caused the anchor labeled "Click to see our products" not to work. */

  &::before {
    /* this is a pseudo selector that adds a ghost element to style*/
    content: "";
    position: absolute; /* when this is relative, it pushed the text to the right side not centered and the right 1/4 of image was brighter. */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0
    ); /* the last argument controls how bright or dark the ancient clock image on the front page will be. */
    z-index: -1; /* this determines how close to the screen an element is. we're pushing it back with -1.*/
  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* 50% of the height and width of the &__headings element itself. */
    text-align: center;
    margin-top: 2rem;
  }

  &__heading {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 2rem;

    &--main {
      display: block;
      font-size: 8rem;
      font-weight: 400;
      color: inherit;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respondDesktop(atSmaller) {
        font-size: 10rem;
      }
    }

    &--sub {
      display: block;
      font-size: 5rem;
      font-weight: 400;
      color: inherit;
      width: max-content;

      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respondDesktop(atSmaller) {
        font-size: 5rem;
      }
      /*animation: moveInRight 1s ease-out;*/
      @include respondDesktop(atSmallest) {
        font-size: 4.5rem;
      }
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: none;

    &,
    &:link,
    &:visited {
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      transition: all 0.2s;
      position: relative;
    }

    &::after {
      content: "";
      display: inline-block;
      height: 200%;
      width: 200%;
      border-radius: 10rem;
      background-color: blanchedalmond;
      color: black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 10rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }

    &--brown {
      /* this works */
      color: #fff;
      background-color: brown;
      display: inline-block;

      &::after {
        /* this works */
        background-color: brown;
      }
    }

    &--animated {
      /* this works */
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }

    @include respondDesktop(atLarge) {
      font-size: 3.5rem;
    }
    @include respondDesktop(atMedium) {
      font-size: 2rem;
    }
    @include respondDesktop(atSmall) {
      font-size: 3rem;
    }
    @include respondDesktop(atSmaller) {
      font-size: 3.5rem;
    }
  }

  &__important-notice {
    /*margin-top: 25rem;*/
    top: 30%;
    left: 50%; /* needed definitely! */
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem; /* Don't change this. I worked long and hard to make it look good on the largest desktops. */
    width: 45rem;
    height: 6rem;
    text-align: left;
    position: absolute; /* needed definitely! */
    /* the next transform centers it */
    transform: translate(
      -50%,
      -25%
    ); /* 50% of the height and width of the &__headings element itself. */

    @include respondDesktop(atLarge) {
      font-size: 3.5rem;
      width: 90rem;
      height: 12rem;
      transform: translate(-50%, -25%);
    }

    @include respondDesktop(atMediumLarge) {
      font-size: 3rem;
      width: 67.5rem;
      height: 9rem;
      transform: translate(-50%, -25%);
    }

    @include respondDesktop(atMedium) {
      /*this accommodates the Microsoft Lumia. Without this the notice overlaps into the Clock Doctor heading */
      top: 32.5%;
      transform: translate(-50%, -150%);
      width: 45rem;
      height: 6rem;
      font-size: 2rem;
    }

    @include respondDesktop(atMediumSmall) {
      /*Just the Microsoft Lumia needs the adjustment coded with respondDesktop(atMedium). All others we do not want that change. */
      top: 30%;
      transform: translate(-50%, -25%);
    }

    @include respondDesktop(atSmall) {
      font-size: 3rem;
      width: 67.5rem;
      height: 9rem;
      transform: translate(-50%, -10%);
    }

    @include respondDesktop(atSmaller) {
      font-size: 3.5rem;
      width: 67.5rem;
      height: 9rem;
      transform: translate(-50%, -25%);
    }

    @include respondDesktop(atSmallest) {
      font-size: 3.5rem;
      width: 55rem;
      height: 9rem;
      transform: translate(-50%, -100%);
    }

    &--animated {
      animation: moveInTop 1s ease-in 1.5s;
      animation-fill-mode: backwards;
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }
}

.page-banner__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
