.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  @include respondDesktop(atMedium) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.page-id-145 {
  /* bkgd color for Clock Brands page - under the About Us page. */
  background-color: antiquewhite;
}

.page-id-147 {
  /* bkgd color for Clock Types page - under the About Us page. */
  background-color: moccasin;
}

.page-id-208 {
  /* bkgd color for Our Service Delivery Area page - under the About Us page. */
  background-color: bisque;
}
