.site-footer {
  padding: 2em 0 3.5em 0;
  background-image: linear-gradient(bisque, antiquewhite);
  /*position:  relative;*/

  .headline {
    color: #666;
    margin-bottom: 0.33em;
  }

  &__copyright-info {
    margin: 0 auto;
    margin-top: 2em;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  &__inner {
    border-top: 1px dotted #dedede;
    padding-top: 3.5em;
  }

  &__col-one {
    text-align: left;
    width: 33%;
    float: left;
    @include respondDesktop(atMedium) {
      text-align: center;
    }
  }

  &__col-two-three-group {
    text-align: left;
    float: left;
    width: 42%;
    margin: 0;
    @include respondDesktop(atMedium) {
      text-align: center;
      width: 85%;
      margin: 0 auto;
    }
  }

  &__col-two {
    width: 50%;
    float: left;
  }
  &__col-three {
    width: 50%;
    float: left;
  }
  &__col-four {
    padding-top: 0;
    margin: 0;
    clear: none;
    text-align: left;
    width: 25%;
    float: right;

    @include respondDesktop(atMedium) {
      padding-top: 20px;
      width: 85%;
      margin: 0 auto;
      clear: both;
      text-align: center;
    }
  }
}
