.site-header .site-header__nav {
  @media (min-width: 65em) {
    display: flex;
    justify-content: space-around;
    align-items: center; /* This prevents the black wp admin bar from overlapping into the white clock doctor icon. */
    transition: all 0.3s ease-in-out; /* This is the line that briefly shows the nav bar with the desired fonts then shrinks them to a really tiny font I don't want.  */

    @include respondDesktop(at1000) {
      display: none;
    }
  } /* 1040px/16px = 65em  */
}

.site-header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__nav {
    /* on small screens we don't show the nav bar at all, only on screen sizes 1040px / 65em and larger. */
    @media (min-width: 65em) {
      position: absolute;
      width: 100%;
      padding-bottom: 1rem;
      padding-top: 2rem; /* This prevents the black wp admin bar from overlapping into the white clock doctor icon. */
      justify-content: space-around;
      opacity: 1;

      @include respondDesktop(at1000) {
        display: none;
      }
    } /* 1040px/16px = 65em */

    &-icon {
      /* on small screens we don't show the nav icon at all, only on screen sizes 1040px / 65em and larger. */
      /*display: none;*/
      @media (min-width: 65em) {
        display: inline-block;
        width: 7em;
        height: 7em;
        background-repeat: no-repeat;
      } /* 1040px/16px = 65em */

      @include respondDesktop(at1000) {
        display: none;
      }

      &.hide {
        opacity: 0;
      }
    }

    &-menu {
      margin: 1.65em 0 1.65em 0;
      display: flex;
      flex-direction: row;
      list-style-type: none; /* removes bullets */
      align-items: center;
      justify-content: center; /* puts space between Home, About Us, Products, Contact Us*/
      background-color: transparent;
      color: maroon;
      transition: all 0.3s ease-in-out;

      &-menu-hide {
        display: none;
      }
    }

    &-menu li {
      line-height: 1.65rem;
    }

    a {
      color: #fff;
      text-decoration: none; /* this removes underlining. */
      padding: 1.5rem 1.5rem;
      font-size: 2rem;
      margin: 0;

      @include respondDesktop(atMediumLarge) {
        font-size: 3rem;
      }

      @include respondDesktop(atMedium) {
        font-size: 2rem;
      }

      @include respondDesktop(atMediumSmall) {
        font-size: 2.5rem;
      }

      @include respondDesktop(at400) {
        font-size: 2.5rem;
      }
    }

    &.active {
      background-color: #000;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3); /* 10px blur*/
    }

    &.hide {
      /* display: none; */
      opacity: 0;
    }

    &.active a {
      color: #fff;
    }

    a.current,
    a:hover {
      color: #c0392b;
      font-weight: bold;
    }
  }

  /* .nav .container automatically puts the logo and nav menu in a row side by side. */

  &__mobile-menu {
    /* If you adjust this @media, you need to adjust src/NavBarModify.js also. 
    The fixNav method will need an adjustment where it compares innerwidth. */
    @media (min-width: 65em) {
      display: none;
    } /* 1040px/16px = 65em */
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 7.5rem;
    padding: 1rem;

    /*@include respondDesktop(atSmall) {
      margin-top: 1rem;
    }*/
    @include respondDesktop(atSmaller) {
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      height: 20rem;
    }

    @include respondDesktop(at327) {
      height: 30rem;
      padding: 2rem;
    }

    &--headings {
      font-size: 1rem;
      color: #fff;
      /*flex: 0 0 18%;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      margin: 2rem;

      @include respondDesktop(atSmall) {
        font-size: 0.65rem;
      }
      @include respondDesktop(atSmaller) {
        flex: 0, 0, 90%;
        align-items: center;
        font-size: 1rem;
        margin: 8rem;
      }
      /*@include respondDesktop(at327) {
        margin: 10rem;
        font-size: 2rem;
      }*/
    }

    &--icons {
      margin-left: auto;
      display: flex;
      align-items: center;

      @include respondDesktop(atSmaller) {
        margin: 1rem;
        justify-content: center;
      }

      &--hamburger {
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10; /* we need this so the top left icon isn't overlaid when we click it the first time. Without this our icon won't make the nav menu vanish when it should vanish.*/

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 10px;
          width: 20px;
          height: 3px;
          background-color: #fff;
          transform-origin: 0 0;
          transition: transform 0.3s ease-out;
        }

        &--middle {
          position: absolute;
          top: 8px;
          right: 10px;
          width: 20px;
          height: 3px;
          background-color: #fff;
          transition: all 0.3s ease-out;
          transform-origin: 0 50%;
        }

        &::after {
          content: ""; /* Required or you won't see the last horizontal bar of the hamburger icon. */
          position: absolute;
          bottom: 0;
          right: 10px;
          width: 20px;
          height: 3px;
          background-color: #fff;
          transform-origin: 0 100%;
          transition: transform 0.3s ease-out;
        }

        @media (min-width: 65em) {
          display: none;
        } /* 400px/16px = 25em */

        &--close-x {
          &::before {
            transform: rotate(45deg) scaleX(1.25);
          }

          .site-header__mobile-menu--icons--hamburger--middle {
            opacity: 0;
          }

          &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
          }
        }
      }

      &--search {
        margin-right: 4rem;
        font-size: 2.5rem;

        @include respondDesktop(atSmaller) {
          margin-right: 0;
          margin-left: 9rem;
          font-size: 5.5rem;
        }
      }
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
    position: relative; /* This is required when using the z-index*/
    z-index: -10; /* This prevents our menu from being accidentally clicked on when it's invisible. */
    padding-top: 0rem;
    text-align: center;

    @media (min-width: 65em) {
      display: flex;
      justify-content: flex-end;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    } /* 400px/16px = 25em */

    &--is-visible {
      /* This is what we're toggling on and off */
      opacity: 1;
      z-index: 1;
      /* remember we only want the content hidden initially for small screens. */
      transform: scale(1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      background-color: #000;
      top: 3.2rem;
      right: 9rem;

      @include respondDesktop(atSmall) {
        top: 9rem;
      } /* this ensures we see the entire menu not just part of it */

      @include respondDesktop(atSmallest) {
        top: 12rem;
      } /* this ensures we see the entire menu not just part of it */

      a {
        font-size: 1.5rem;
        @include respondDesktop(atSmall) {
          font-size: 3rem;
        }
      }
      li {
        line-height: 4rem;
      }
    }
    &__util {
      padding: 0 0 0 20px;

      &.hide {
        opacity: 0;
      }

      /*@media (min-width: 47.9375em) {*/
      @include respondDesktop(atMedium) {
        padding: 0;
        float: right;
      }
    } /* 767px/16px = 47.9375em */

    &__btn {
      margin-right: 20px;
      /*@media (min-width: 47.9375em) {*/
      @include respondDesktop(atMedium) {
        float: left;
      }
    } /* 767px/16px = 47.9375em */

    .btn--with-photo {
      margin-right: 0;
    }
  }

  &__large-screen-search-icon {
    opacity: 1; /* MobileMenu.js changes this to 0 if needed. This search icon was showing on mobile devices when "Products" was clicked. It looked bad. */
  }
}
/* the container div - needed to position the dropdown content.*/
.dropdown {
  position: relative;
  display: inline-block;

  &:hover &__content {
    /* Show the dropdown menu on hover  */
    display: block;
    text-align: left;
  }

  &__a {
    /*background-color: #04aa6d;
      color: #fff;
    padding: 16px; */
    font-size: 1rem;
    border: none;
  }

  &__content {
    /* dropdown content hidden by default */
    display: none;
    position: absolute;
    background-color: #bbb;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      /* links inside the dropdown */
      color: #000;
      padding: 0.75rem 1rem;
      text-decoration: none;
      display: block;
    }

    a:hover {
      /* change color of dropdown links on hover */
      background-color: #bd8d46;
      background-color: #bd6219;
      color: #fff;
    }
  }
}
