.site-footer {
  padding: 1em 0 1em 0;
  background-image: linear-gradient(bisque, antiquewhite);
  grid-column: full-start / full-end;
  /*position:  relative;*/

  &__container {
    /* I need this class in place of the plain container class in utilities.scss because the container in utilities.scss creates a "before" pseudo-class that pushes everything over too much.  */
    max-width: 1300px;
    margin: 0 auto; /*zero for top/bottom, auto for left/right which will put text in the middle. */
    padding: 0 16px;
    position: relative;
  }

  &__inner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: $grid-gap;

    border-top: 1px dotted #dedede;
    padding-top: 3.5em;

    @include respondDesktop(atSmallest) {
      grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    }
  }

  &__inner-grid--item {
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
  }

  &__copyright-info {
    margin: 0 auto;
    margin-top: 2em;
    width: 75%;
    text-align: center;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  h2 {
    @include respondDesktop(atSmall) {
      font-size: 2.5em;
    } /* screen size <= 530px*/
  }

  h3 {
    @include respondDesktop(atSmall) {
      font-size: 2em;
    } /* screen size <= 530px*/
  }
}
