.wrapper {
  padding-left: 3.7rem;
  padding-right: 3.7rem;

  @include respondDesktop(atMediumLarge) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__front-page {
    padding-top: 5rem;
  }

  ul {
    margin-left: 2rem;
  }
}
