@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*media query manager*/
/*
   0px - 280px:  atSmallest
 281px - 355px:  atSmaller
 356px = 530px:  atSmall

 531px - 616px: atMediumSmall
 617px - 767px: atMedium
 768px - 800px: atMediumLarge

 801px - 1000px: at1000
1001px - 1200px: atLarge
1201px - 1860px: atLarger
1860px - ------- atLargest 
*/

@mixin respondDesktop($breakpoint) {
  @if $breakpoint == atSmallest {
    @media only screen and (max-width: 17.5em) {
      @content;
    } /* 280/16 = 17.5em */
  }

  @if $breakpoint == atSmaller {
    @media only screen and (max-width: 22.1875em) {
      @content;
    }
  } /* 355/16 = 22.1875em*/

  @if $breakpoint == atSmall {
    @media only screen and (max-width: 33.125em) {
      @content;
    }
  } /* 530/16 = 33.125em*/

  @if $breakpoint == atMediumSmall {
    @media only screen and (max-width: 38.5em) {
      @content;
    }
  } /* 616/16 = 38.5em */

  @if $breakpoint == atMedium {
    @media only screen and (max-width: 47.9375em) {
      @content;
    }
  } /* 767/16 = 47.9375em */

  @if $breakpoint == atMediumLarge {
    @media only screen and (max-width: 50em) {
      @content;
    }
  } /* 800/16 = 50em */

  @if $breakpoint == at1000 {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  } /* 1000/16 = 62.5em*/

  @if $breakpoint == atLarge {
    @media only screen and (max-width: 75em) {
      @content;
    }
  } /* 1200/16 = 75em*/

  @if $breakpoint == atLarger {
    @media only screen and (max-width: 93.75em) {
      @content;
    }
  } /* 1500/16 = 93.75em*/

  @if $breakpoint == atLargest {
    @media only screen and (min-width: 116.25em) {
      @content;
    }
  } /* 1860/16 = 116.25em   */
}
