/*primary colors  */ 
$color-primary: #55c57a;        /* medium green */
$color-primary-light: #7ed56f;  /* light green */
$color-primary-dark: #28b485;   /* dark green */

$color-gray-dark: #777;

$color-maroon: #800000;
$color-gold: #ebab17;
$mainBlue: rgb(0, 0, 255);
$beige: #f4f0db;
