.page-links {
  position: relative;
  margin: 4rem;
  width: 30rem;
  float: right;

  z-index: 1;
  background-color: $beige;

  @include respondDesktop(atMediumLarge) {
    margin: 0 0 4rem 0;
    width: 100%;
    float: none;
  } /* screen size >= 767px/16 or 47.9375em */

  &__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 2rem 0;
    background-color: $mainBlue;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
      background-color: $mainBlue;
    }
  }

  li {
    border-top: 0.1rem solid adjust-color($beige, $lightness: -14%);
    margin-left: 0; /* I only want the margin-left = 0 on the About Us links.  
    The bullets beside clock brands and clock types need the margin-left on small screen sizes. 
    They are set in base.scss*/
  }

  li:first-child {
    border-top: none;
  }

  &__active,
  & .current_page_item {
    text-align: center;
    background-color: scale-color($beige, $lightness: -7%, $saturation: -10%);
    color: $mainBlue;
    font-weight: bold;
  }

  li a {
    display: block;
    text-align: center;
    padding: 1.7rem 1rem;
    text-decoration: none;
    color: $mainBlue;
    transition: all 0.3s;
  }

  li a:hover {
    color: adjust-color($mainBlue, $lightness: -6%);
    background-color: scale-color($beige, $lightness: -9%, $saturation: -12%);
  }
}
